@{
    ViewBag.Title = "Home Page";
}

<div id="pageloader">
    <div class="loader-img">

        <img src="Content/images/loader.gif" alt="">

    </div><!-- end .loader-img -->
</div><!-- end .pageloader -->

<div id="wrap">

    <div id="header">

        <!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="parallax full-screen" style="background-image:url(Content/backgrounds/1920x1280.jpg);">

            <div class="parallax-content full-screen">

                <div class="parallax-overlay" style="background-image:url(Content/backgrounds/pattern.png);"></div>

                <div class="parallax-content-inner">

                    <div class="row">
                        <div class="span12 text-center">

                            <div class="headline">

                                <h1>Daniel Melo</h1>
                                <p><span>Senior Software Engineer</span></p>

                            </div><!-- end .headline -->

                        </div><!-- end .span12 -->
                    </div><!-- end .row -->

                </div><!-- end .parallax-content-inner -->

                <a href="#personal-profile">
                    <i class="ifc-down4"></i>
                </a>

            </div><!-- end .parallax-content -->

        </div><!-- end .parallax -->

        <div id="nav">

            <div class="row">
                <div class="span3">

                    <!-- // Logo // -->
                    <a href="index.html" id="logo">
                        Daniel Melo
                    </a>

                </div><!-- end .span3 -->
                <div class="span9">

                    <a href="#" id="mobile-menu-trigger">
                        <i class="fa fa-bars"></i>
                    </a>

                    <!-- // Menu // -->
                    <ul class="sf-menu" id="menu">
                        <li>
                            <a href="#personal-profile">Personal Details</a>
                        </li>
                        <li>
                            <a href="#work-experience">Experience</a>
                        </li>
                        <li>
                            <a href="#education">Education</a>
                        </li>
                        <li>
                            <a href="#references">References</a>
                        </li>
                        <li>
                            <a href="#skills">Skills</a>
                        </li>
                        <li>
                            <a href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>

                </div><!-- end .span9 -->
            </div><!-- end .row -->

        </div><!-- end #nav -->
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    </div><!-- end #header -->
    <div id="content">

        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div id="personal-profile">

            <div class="row">
                <div class="span12 text-center">

                    <div class="headline">

                        <p><span>Who am I?</span></p>
                        <h1>Personal Details</h1>

                    </div><!-- end .headline -->

                </div><!-- end .span12 -->
            </div><!-- end .row -->

            <div class="row">
                <div class="span3">

                    <img class="responsive-img" src="~/Content/270x270.jpeg" alt="">

                </div><!-- end .span3 -->
                <div class="span4">

                    <ul class="personal-details">
                        <li>Name: Daniel Melo</li>
                        <li>Date of birth: 04 April 1987</li>
                        <li>Nationality: Citizen of Brazil</li>
                        <li>Address: 79 Activa avenue, ON </li>
                        <li>Phone: +1(519)569-1484 </li>
                        <li>
                            Email:
                            <a href="mailto:dmelo.developer@gmail.com">dmelo.developer@gmail.com</a>
                        </li>
                    </ul>

                </div><!-- end .span4 -->
                <div class="span5">

                    <h3 class="text-uppercase">Profesional Profile</h3>

                    <p>
                        Senior-level Software and Application Developer passionate about creating cutting-edge products for Saas. Strong work ethic and dedication to quality assurance. Adept at working with teams or independently in fast-paced settings.

                    </p>
                    <p>

                    </p>

                </div><!-- end .span5 -->
            </div><!-- end .row -->

        </div><!-- end #personal-profile -->

        <div id="work-experience">

            <div class="row">
                <div class="span12 text-center">

                    <div class="headline">

                        <p><span>My Professional Background</span></p>
                        <h1>Work Experience</h1>

                    </div><!-- end .headline -->

                </div><!-- end .span12 -->
            </div><!-- end .row -->

            <div class="row cv-section">

                <div class="span3">

                    <div class="cv-section-title">
                        <h1>
                            <span>
                                2019
                                <small>November</small>
                            </span>
                            -
                            <span>Present</span>
                        </h1>


                        <h3> Wavelip Tech Solutions Corporation </h3>

                        <p>
                            2017 - 2019 Full-stack Developer <br>
                        </p>

                    </div><!-- end .cv-section-title -->

                </div><!-- end .span3 -->
                <div class="span9">

                    <div class="cv-item">

                        <h3 class="text-uppercase">Job Description</h3>

                        <p>
                            Senior Software Developer C#<br>
                            I worked as a full-stack software developer using C #. I participated in
                            the creation of the initiation project at the end of a document
                            management platform with the highest technology Azure Cloud in Saas
                            format.
                        </p>

                        @*<p>
                        Art Director<br>
                        Donec mollis venenatis pulvinar. Mauris leo odio, euismod at tellus ac, tincidunt vulputate velit. Aenean
                        eget tortor feugiat, facilisis arcu a, commodo felis. Fusce imperdiet nisl urna, quis elementum sapien
                        hendrerit sollicitudin. Maecenas porttitor ultrices erat in ornare.  Fusce imperdiet nisl urna, quis
                        elementum sapien hendrerit sollicitudin. Maecenas porttitor ultrices erat in ornare.
                    </p>*@

                    </div><!-- end .cv-item -->

                </div><!-- end .span9 -->

            </div><!-- end .cv-section -->

            <div class="row cv-section">

                <div class="span3">

                    <div class="cv-section-title">
                        <h1>
                            <span>
                                2014
                                <small>September</small>
                            </span>
                            -
                            <span>
                                2017
                                <small>February</small>
                            </span>
                        </h1>


                        <h3>
                            LUIZ LEONARDOS & ADVOGADOS
                        </h3>

                        <p>
                            2014 - 2017 Senior Software Developer C# <br>
                        </p>

                    </div><!-- end .cv-section-title -->

                </div><!-- end .span3 -->
                <div class="span9">

                    <div class="cv-item">

                        <h3 class="text-uppercase">Job Description</h3>

                        <p>
                            Senior Software Developer C#<br>
                            I worked as a full-stack software developer using C #. The project was
                            aimed at trademarks and patents with integration with INPI government
                            agency.
                        </p>

                        @*<p>
                        Art Director<br>
                        Suspendisse dignissim nisi non velit interdum, in condimentum augue varius. Nullam ac felis eu lacus rhoncus
                        posuere. Fusce pretium auctor bibendum. Suspendisse rutrum rhoncus purus sed dapibus. Nulla in viverra justo.
                        Quisque id sapien sed urna lobortis rutrum eu sed enim. Nullam pharetra urna facilisis tellus vulputate, ac
                        vehicula quam tempus.
                    </p>*@

                    </div><!-- end .cv-item -->

                </div><!-- end .span9 -->

            </div><!-- end .cv-section -->

            <div class="row cv-section">

                <div class="span3">

                    <div class="cv-section-title">
                        <h1>
                            <span>
                                2012
                                <small>February</small>
                            </span>
                            -
                            <span>
                                2014
                                <small>September</small>
                            </span>
                        </h1>


                        <h3>QX3</h3>

                        <p> 2012 - 2014 Junior Developer C# <br></p>

                    </div><!-- end .cv-section-title -->

                </div><!-- end .span3 -->
                <div class="span9">

                    <div class="cv-item">

                        <h3 class="text-uppercase">Job Description</h3>

                        <p>
                            Junior Developer C# <br />
                            I worked as a software developer using C#. Currently allocated to the project of one of the largest banks in Brazil and in parallel to the development of high level systems for the financial market.
                        </p>

                    </div><!-- end .cv-item -->

                </div><!-- end .span9 -->

            </div><!-- end .cv-section -->

            <div class="row cv-section">

                <div class="span3">

                    <div class="cv-section-title">
                        <h1>
                            <span>
                                2009
                                <small>January</small>
                            </span>
                            -
                            <span>
                                2012
                                <small>February</small>
                            </span>
                        </h1>


                        <h3>FPS Informática LTDA.</h3>

                        <p> 2009 - 2012 Junior Developer C# <br></p>

                    </div><!-- end .cv-section-title -->

                </div><!-- end .span3 -->
                <div class="span9">

                    <div class="cv-item">

                        <h3 class="text-uppercase">Job Description</h3>

                        <p>
                            Software Developer .Net <br />
                            I worked with software development, using C # and VB.Net, with
                            systems development for Governments throughout Brazil.
                        </p>

                    </div><!-- end .cv-item -->

                </div><!-- end .span9 -->

            </div><!-- end .cv-section -->

            <div class="row cv-section">

                <div class="span3">

                    <div class="cv-section-title">
                        <h1>
                            <span>
                                2008
                                <small>March</small>
                            </span>
                            -
                            <span>
                                2008
                                <small>December</small>
                            </span>
                        </h1>


                        <h3>Hotéis Othon</h3>

                        <p> 2008 - 2008 Software Developer .Net <br></p>

                    </div><!-- end .cv-section-title -->

                </div><!-- end .span3 -->
                <div class="span9">

                    <div class="cv-item">

                        <h3 class="text-uppercase">Job Description</h3>

                        <p>
                            Software Developer .Net <br />
                            I worked using PHP with SQL Server 2005 and MySQL database.
                            Hardware Inventory, Cellular Loan Control, Intranet and Hospitality
                            Management system.
                        </p>

                    </div><!-- end .cv-item -->

                </div><!-- end .span9 -->

            </div><!-- end .cv-section -->

        </div><!-- end #work-experience -->

        <div id="education">

            <div class="row">
                <div class="span12 text-center">

                    <div class="headline">

                        <p><span>My Education</span></p>
                        <h1>Education</h1>

                    </div><!-- end .headline -->

                </div><!-- end .span12 -->
            </div><!-- end .row -->

            <div class="row cv-section">

                <div class="span3">

                    <div class="cv-section-title">
                        <h1>
                            <span>
                                2020
                                <small>March</small>
                            </span>
                            -
                            <span>
                                2022
                                <small>June</small>
                            </span>
                        </h1>


                        <h3>PUC Minas</h3>

                        <p>Architecture of Software Engineering</p>

                    </div><!-- end .cv-section-title -->

                </div><!-- end .span3 -->
                <div class="span9">

                    <div class="cv-item">

                        <h3 class="text-uppercase">School Profile Description</h3>

                        <p>
                            Software architecture refers to the fundamental structures of a software system and the discipline of creating such structures and systems.
                            Each structure comprises software elements, relations among them, and properties of both elements and relations.
                        </p>

                    </div><!-- end .cv-item -->

                </div><!-- end .span9 -->

            </div><!-- end .cv-section -->

            <div class="row cv-section">

                <div class="span3">

                    <div class="cv-section-title">
                        <h1>
                            <span>
                                2005
                                <small>January</small>
                            </span>
                            -
                            <span>
                                2008
                                <small>December</small>
                            </span>
                        </h1>


                        <h3>Universidade Estácio de Sá</h3>

                        <p>System Information</p>

                        @*<h3>3.9 GPA</h3>*@

                    </div><!-- end .cv-section-title -->

                </div><!-- end .span3 -->
                <div class="span9">

                    <div class="cv-item">

                        <h3 class="text-uppercase">School Profile Description</h3>

                        <p>
                            The course prepares professionals to create, analyze, design and implement computer information systems.
                            It is formatted with disciplines to develop logical reasoning, mastery of programming languages ​​and
                            project construction methodologies, among others. Students learn from cutting edge technology.
                        </p>

                    </div><!-- end .cv-item -->

                </div><!-- end .span9 -->

            </div><!-- end .cv-section -->

        </div><!-- end #education -->

        <div class="parallax" id="references" style="background-image:url(Content/backgrounds/1920x1000.jpg);">

            <div class="parallax-content" style="padding:110px 0 70px 0;">

                <div class="parallax-overlay" style="background-image:url(Content/backgrounds/pattern.png);"></div>

                <div class="parallax-content-inner">

                    <div class="row">
                        <div class="span12">

                            <h1 class="text-center text-uppercase">References</h1>

                        </div><!-- end .span12 -->
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="span12">

                            <div class="references-slider">

                                <ul class="slides">
                                    <li>

                                        <div class="row">
                                            <div class="span3 text-center">

                                                <div class="headline">

                                                    <h2>Diogo Sobral</h2>
                                                    <p><span>Genereal Manager at Qx3</span></p>

                                                </div><!-- end .headline -->

                                            </div><!-- end .span3 -->
                                            <div class="span9">

                                                <p>
                                                    Tive a oportunidade de trabalhar com você, de fazer sua gestão,
                                                    e posso afirmar que você é um profissional ímpar, na área de TI precisamos de pessoas inteligentes, dedicadas, 
                                                    preocupadas com o conjunto, porque muitas vezes os desafios são complexos em boa parte das etapas, 
                                                    e você consegue reunir todas essas qualidades, foi uma honra ter conhecido o profissional Daniel, 
                                                    e uma satisfação ver a sua evolução pessoal e profissional.

                                                </p>

                                            </div><!-- end .span9 -->
                                        </div><!-- end .row -->

                                    </li>
                                    <li>

                                        <div class="row">
                                            <div class="span3 text-center">

                                                <div class="headline">

                                                    <h2>Elter Souza</h2>
                                                    <p><span>Software Engineer</span></p>

                                                </div><!-- end .headline -->

                                            </div><!-- end .span3 -->
                                            <div class="span9">

                                                <p>
                                                    Daniel is an excellent professional, I am honored to have worked on the same team.
                                                    I make a point of acknowledging your professional ability. I wish you success. A big hug.
                                                </p>

                                            </div><!-- end .span9 -->
                                        </div><!-- end .row -->

                                    </li>
                                                                        
                                </ul>

                            </div><!-- end .references-slider -->

                        </div><!-- end .span12 -->
                    </div><!-- end .row -->

                </div><!-- end .parallax-content-inner -->

            </div><!-- end .parallax-content -->

        </div><!-- end #references -->

        <div id="skills">

            <div class="row">
                <div class="span12 text-center">

                    <div class="headline">

                        <p><span>What I’m best at</span></p>
                        <h1>Skills &amp; Knowledge</h1>

                    </div><!-- end .headline -->

                </div><!-- end .span12 -->
            </div><!-- end .row -->

            <div class="row">
                <div class="span7">

                    <h2 class="text-uppercase">Software</h2>

                    <div class="fixed">

                        <div class="progress-bar-description">
                            Visual Studio
                            <span style="left:90%">90%</span>
                        </div><!-- end .progress-bar-description -->

                        <div class="progress-bar">
                            <span class="progress-bar-outer" data-width="90">
                                <span class="progress-bar-inner"></span>
                            </span>
                        </div><!-- end .progress-bar -->

                    </div>

                    <div class="fixed">

                        <div class="progress-bar-description">
                            Code
                            <span style="left:85%">85%</span>
                        </div><!-- end .progress-bar-description -->

                        <div class="progress-bar">
                            <span class="progress-bar-outer" data-width="85">
                                <span class="progress-bar-inner"></span>
                            </span>
                        </div><!-- end .progress-bar -->

                    </div>

                    <div class="fixed">

                        <div class="progress-bar-description">
                            SQL Server
                            <span style="left:90%">90%</span>
                        </div><!-- end .progress-bar-description -->

                        <div class="progress-bar">
                            <span class="progress-bar-outer" data-width="90">
                                <span class="progress-bar-inner"></span>
                            </span>
                        </div><!-- end .progress-bar -->

                    </div>

                    <div class="fixed">

                        <div class="progress-bar-description">
                            Microsoft Azure Storage Explore
                            <span style="left:80%">80%</span>
                        </div><!-- end .progress-bar-description -->

                        <div class="progress-bar">
                            <span class="progress-bar-outer" data-width="80">
                                <span class="progress-bar-inner"></span>
                            </span>
                        </div><!-- end .progress-bar -->

                    </div>

                    <div class="fixed">

                        <div class="progress-bar-description">
                            Android Studio
                            <span style="left:75%">75%</span>
                        </div><!-- end .progress-bar-description -->

                        <div class="progress-bar">
                            <span class="progress-bar-outer" data-width="75">
                                <span class="progress-bar-inner"></span>
                            </span>
                        </div><!-- end .progress-bar -->

                    </div>

                </div><!-- end .span7 -->
                <div class="span5">

                    <h2 class="text-uppercase">Recognitions</h2>

                    <div class="icon-box-1">

                        @*<i class="ifc-xlarge_icons"></i>*@
                        <i><img style="margin-top:16px;width:56px" src="@Url.Content("~/Content/images/microsoft.png")" /></i>

                        <div class="icon-box-content">

                            <h3>MCPS: Microsoft Certified Professional</h3>

                            <p>
                                Issued Sep 2012 <br>
                            </p>

                        </div><!-- end .icon-box-content -->

                    </div><!-- end .icon-box-1 -->

                    <div class="icon-box-1">

                        <i><img style="margin-top:16px;width:56px" src="@Url.Content("~/Content/images/microsoft.png")" /></i>

                        <div class="icon-box-content">

                            <h3>MCTS: .NET Framework 4, Web Applications</h3>

                            <p>
                                Issued Sep 2012 <br>
                            </p>

                        </div><!-- end .icon-box-content -->

                    </div><!-- end .icon-box-1 -->

                    <div class="icon-box-1">

                        <i><img style="margin-top:16px;width:56px" src="@Url.Content("~/Content/images/microsoft.png")" /></i>

                        <div class="icon-box-content">

                            <h3>MCTS</h3>

                        </div><!-- end .icon-box-content -->

                    </div><!-- end .icon-box-1 -->

                </div><!-- end .span5 -->
            </div><!-- end .row -->

            <div class="row">
                <div class="span6">

                    <h2 class="text-uppercase">Language Skills</h2>

                    <div class="row">
                        <div class="span2">

                            <div class="pie-chart" data-percent="100" data-barColor="#252525" data-trackColor="#5f5f5f" data-lineWidth="8" data-barSize="170">

                                <span class="pie-chart-custom-text">
                                    <span>Português</span><br>
                                    <span class="hidden-tablet">Native</span>
                                </span>

                            </div><!-- end .pie-chart -->

                        </div><!-- end .span2 -->
                        <div class="span2">

                            <div class="pie-chart" data-percent="90" data-barColor="#252525" data-trackColor="#5f5f5f" data-lineWidth="8" data-barSize="170">

                                <span class="pie-chart-custom-text">
                                    <span>English</span><br>
                                    <span class="hidden-tablet">Advanced</span>
                                </span>

                            </div><!-- end .pie-chart -->

                        </div><!-- end .span2 -->                        
                    </div><!-- end .row -->

                </div><!-- end .span6 -->
                <div class="span6">

                    <h2 class="text-uppercase">Knowledge Front/Back End</h2>

                    <div class="row">
                        <div class="span3">

                            <ul class="check">
                                <li>Javascript </li>
                                <li>Jquery</li>
                                <li>React Native</li>
                                <li>Angular 8</li>
                                <li>MVC</li>
                                <li>Bootstrap 4</li>
                            </ul>

                        </div><!-- end .span3 -->
                        <div class="span3">

                            <ul class="check">
                                <li>C# .Net Core</li>
                                <li>S.O.L.I.D</li>
                                <li>Microservices</li>
                                <li>Containers</li>
                                <li>Azure Environment</li>
                                <li>AWS Environment</li>
                            </ul>

                        </div><!-- end .span3 -->
                    </div><!-- end .row -->

                </div><!-- end .span6 -->
            </div><!-- end .row -->

            <div class="row">
                <div class="span12">

                    <h2 class="text-uppercase">Hobbies &amp; Interests</h2>

                    <ul class="interests-list fixed">
                        <li>

                            <p>
                                <i class="ifc-sea_waves"></i>
                                Sports
                            </p>

                            <div class="interest-details">

                                <i class="ifc-sea_waves"></i>
                                <strong>Sports</strong>

                                <p>I love playing soccer in my free time.</p>

                            </div><!-- end .interest-details -->

                        </li>                       
                        <li>

                            <p>
                                <i class="ifc-power_point"></i>
                                Marketing
                            </p>

                            <div class="interest-details">

                                <i class="ifc-power_point"></i>
                                <strong>Digital Marketing</strong>

                                <p>Studying about digital marketing and publishing some contents and running a few ads on Facebook and Instagram.</p>

                            </div><!-- end .interest-details -->

                        </li>
                        <li>

                            <p>
                                <i class="ifc-radio_tower"></i>
                                Movies
                            </p>

                            <div class="interest-details">

                                <i class="ifc-radio_tower"></i>
                                <strong>Movies</strong>

                                <p>I love spend some time with my wife watching Netflix.</p>

                            </div><!-- end .interest-details -->

                        </li>                        
                        <li>

                            <p>
                                <i class="ifc-smartphone_tablet"></i>
                                Technology
                            </p>

                            <div class="interest-details">

                                <i class="ifc-smartphone_tablet"></i>
                                <strong>Technology</strong>

                                <p>I'm totally into in new technologies such as IOT and AI</p>

                            </div><!-- end .interest-details -->

                        </li>
                        <li>

                            <p>
                                <i class="ifc-airplane_take_off"></i>
                                Travel
                            </p>

                            <div class="interest-details">

                                <i class="ifc-airplane_take_off"></i>
                                <strong>Travel</strong>

                                <p>Who doesn't like travel? I'm count the days to my next trip lol.</p>

                            </div><!-- end .interest-details -->

                        </li>
                        <li>

                            <p>
                                <i class="ifc-history"></i>
                                Books
                            </p>

                            <div class="interest-details">

                                <i class="ifc-history"></i>
                                <strong>History</strong>

                                <p>I love reading books and also listening on Audible</p>

                            </div><!-- end .interest-details -->

                        </li>
                        <li>

                            <p>
                                <i class="ifc-musical"></i>
                                Music
                            </p>

                            <div class="interest-details">

                                <i class="ifc-musical"></i>
                                <strong>Music</strong>

                                <p>I delight use Spotify and also I have interesting to start learning how to produce music like Marshmello and AW.</p>

                            </div><!-- end .interest-details -->

                        </li>
                    </ul>

                </div><!-- end .span12 -->
            </div><!-- end .row -->

        </div><!-- end #skils -->

        <div id="portfolio">

            <div class="row">
                <div class="span12 text-center">

                    <div class="headline">

                        <p><span>My latest work</span></p>
                        <h1>Portfolio</h1>

                    </div><!-- end .headline -->

                </div><!-- end .span12 -->
            </div><!-- end .row -->

            <div class="row">
                <div class="span12">

                    <div class="portfolio-filter">

                        <ul>
                            <li>
                                <a class="active" data-filter="*" href="#">All</a>
                            </li>
                            @*<li>
                                <a data-filter=".term-1" href="#">Graphic design</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".term-2">Logo</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".term-3">Animations</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".term-4">Photography</a>
                            </li>*@
                        </ul>

                    </div><!-- end .portfolio-filter -->

                </div><!-- end .span12 -->
            </div><!-- end .row -->

            <div class="row">
                <div class="span12">

                    <ul class="portfolio-items fixed">
                        <li class="item term-4">

                            <div class="portfolio-item">

                                <div class="portfolio-item-preview" style="border:solid 1px #ccc">


                                    <img src="~/Content/portfolio/370x370-1.png" alt="">


                                    <div class="portfolio-item-overlay">

                                        <div class="portfolio-item-overlay-actions">

                                            <a class="magnificPopup-gallery portfolio-item-zoom" href="~/Content/portfolio/370x370-1.png">+</a>

                                            <a class="ajax-popup-link portfolio-item-link" href="https://www.itaucorretora.com.br/" target="_blank">&gt;</a>

                                        </div><!-- end .portfolio-item-overlay-actions -->

                                    </div><!-- end .portfolio-item-overlay -->

                                </div><!-- end .portfolio-item-preview -->

                                <div class="portfolio-item-description">

                                    <h3>Itaú Stock Bank</h3>
                                    <p>Bank</p>

                                </div><!-- end .portfolio-item-description -->

                            </div><!-- end .portfolio-item -->

                        </li>
                        <li class="item term-3">

                            <div class="portfolio-item">

                                <div class="portfolio-item-preview" style="border:solid 1px #ccc">


                                    <img src="~/Content/portfolio/370x370-2.png" alt="">


                                    <div class="portfolio-item-overlay">

                                        <div class="portfolio-item-overlay-actions">

                                            <a class="magnificPopup-gallery portfolio-item-zoom" href="~/Content/portfolio/370x370-2.png">+</a>

                                            <a class="ajax-popup-link portfolio-item-link" href="https://www.zonasul.com.br/" target="_blank">&gt;</a>

                                        </div><!-- end .portfolio-item-overlay-actions -->

                                    </div><!-- end .portfolio-item-overlay -->

                                </div><!-- end .portfolio-item-preview -->

                                <div class="portfolio-item-description">

                                    <h3>Ship</h3>
                                    <p>Animation</p>

                                </div><!-- end .portfolio-item-description -->

                            </div><!-- end .portfolio-item -->

                        </li>
                        <li class="item term-1">

                            <div class="portfolio-item">

                                <div class="portfolio-item-preview" style="border:solid 1px #ccc">


                                    <img src="~/Content/portfolio/370x370-3.png" alt="">


                                    <div class="portfolio-item-overlay">

                                        <div class="portfolio-item-overlay-actions">

                                            <a class="magnificPopup-gallery portfolio-item-zoom" href="~/Content/portfolio/370x370-3.png">+</a>

                                            <a class="ajax-popup-link portfolio-item-link" href="https://www.btgpactual.com/" target="_blank">&gt;</a>

                                        </div><!-- end .portfolio-item-overlay-actions -->

                                    </div><!-- end .portfolio-item-overlay -->

                                </div><!-- end .portfolio-item-preview -->

                                <div class="portfolio-item-description">

                                    <h3>Street</h3>
                                    <p>Graphic Design</p>

                                </div><!-- end .portfolio-item-description -->

                            </div><!-- end .portfolio-item -->

                        </li>
                        <li class="item term-1">

                            <div class="portfolio-item">

                                <div class="portfolio-item-preview" style="border:solid 1px #ccc">


                                    <img src="Content/portfolio/370x370-4.png" alt="">


                                    <div class="portfolio-item-overlay">

                                        <div class="portfolio-item-overlay-actions">

                                            <a class="magnificPopup-gallery portfolio-item-zoom" href="Content/portfolio/370x370-4.png">+</a>

                                            <a class="ajax-popup-link portfolio-item-link" href="https://www.allorg.com/" target="_blank">&gt;</a>

                                        </div><!-- end .portfolio-item-overlay-actions -->

                                    </div><!-- end .portfolio-item-overlay -->

                                </div><!-- end .portfolio-item-preview -->

                                <div class="portfolio-item-description">

                                    <h3>Beatiful Field</h3>
                                    <p>Photography</p>

                                </div><!-- end .portfolio-item-description -->

                            </div><!-- end .portfolio-item -->

                        </li>
                        <li class="item term-2">

                            <div class="portfolio-item">

                                <div class="portfolio-item-preview" style="border:solid 1px #ccc">


                                    <img src="Content/portfolio/370x370-5.png" alt="">


                                    <div class="portfolio-item-overlay">

                                        <div class="portfolio-item-overlay-actions">

                                            <a class="magnificPopup-gallery portfolio-item-zoom" href="Content/portfolio/370x370-5.png">+</a>

                                            <a class="ajax-popup-link portfolio-item-link" href="https://www.bancobv.com.br/" target="_blank">&gt;</a>

                                        </div><!-- end .portfolio-item-overlay-actions -->

                                    </div><!-- end .portfolio-item-overlay -->

                                </div><!-- end .portfolio-item-preview -->

                                <div class="portfolio-item-description">

                                    <h3>Trees</h3>
                                    <p>Logo</p>

                                </div><!-- end .portfolio-item-description -->

                            </div><!-- end .portfolio-item -->

                        </li>
                        <li class="item term-3">

                            <div class="portfolio-item">

                                <div class="portfolio-item-preview" style="border:solid 1px #ccc">


                                    <img src="Content/portfolio/370x370-6.png" alt="">


                                    <div class="portfolio-item-overlay">

                                        <div class="portfolio-item-overlay-actions">

                                            <a class="magnificPopup-gallery portfolio-item-zoom" href="Content/portfolio/370x370-6.png">+</a>

                                            <a class="ajax-popup-link portfolio-item-link" href="https://www.othon.com.br/" target="_blank">&gt;</a>

                                        </div><!-- end .portfolio-item-overlay-actions -->

                                    </div><!-- end .portfolio-item-overlay -->

                                </div><!-- end .portfolio-item-preview -->

                                <div class="portfolio-item-description">

                                    <h3>Hotéis Othon</h3>
                                    <p></p>

                                </div><!-- end .portfolio-item-description -->

                            </div><!-- end .portfolio-item -->

                        </li>
                    </ul>

                    @*<p class="text-center">
                        <a class="btn text-uppercase" href="#">Load More Items</a>
                    </p>*@

                </div><!-- end .span12 -->
            </div><!-- end .row -->

        </div><!-- end #portfolio -->

        <div class="parallax" id="contact" style="background-image:url(Content/backgrounds/1920x2000.jpg);">

            <div class="parallax-content" style="padding:110px 0;">

                <div class="parallax-overlay" style="background-image:url(Content/backgrounds/pattern.png);"></div>

                <div class="parallax-content-inner">

                    <div class="row">
                        <div class="span12 text-center">

                            <div class="headline">
                                <h1>Contact</h1>

                            </div><!-- end .headline -->

                        </div><!-- end .span12 -->
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="span4">

                            <h2 class="text-uppercase">Get in touch</h2>

                            <p>
                               I'm currently living in Kitchener, ON Canada. You can check it out more about me in my social media below.
                            </p>

                            <br>

                            <h2 class="text-uppercase">My Address</h2>

                            <ul class="contact-info">
                                @*<li>
                                    <i class="ifc-home"></i>                                    
                                </li>*@
                                <li>
                                    <i class="ifc-phone2"></i>
                                    +1 (519) 569-1484
                                </li>
                                <li>
                                    <i class="ifc-message"></i>
                                    <a href="mailto:dmelo.developer@gmail.com">dmelo.developer@gmail.com</a>
                                </li>
                            </ul>

                            <h2 class="text-uppercase">I'm also on social networks</h2>

                            <div class="social-media fixed">

                                <a href="https://www.linkedin.com/in/daniel-melo-2b6b6539/" target="_blank" class="linkedin-icon social-icon">
                                    <i class="fa fa-linkedin"></i>
                                </a>

                                <a href="https://github.com/yslladd" target="_blank" class="github-icon social-icon">
                                    @*<i class="fa fa-google-plus"></i>*@
                                    <i class="fa fa-github"></i>
                                </a>

                                <a href="https://www.facebook.com/daniel.melo.br" target="_blank" class="facebook-icon social-icon">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="https://twitter.com/DRMelos" target="_blank" class="twitter-icon social-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <a href="https://www.instagram.com/drmelos/" target="_blank" class="instagram-icon social-icon">
                                    @*<i class="fa fa-google-plus"></i>*@
                                    <i class="fa fa-instagram"></i>
                                </a>

                            </div>

                        </div><!-- end .span4 -->
                        <div class="span8">

                            <h2 class="text-uppercase">Send a message</h2>

                            <form class="fixed" id="contact-form" name="contact-form" method="post" action="_layout/php/send.php">
                                <fieldset>

                                    <div id="formstatus"></div>

                                    <input class="span8" id="name" type="text" name="name" value="" placeholder="enter your full name here">

                                    <input class="span8" id="email" type="text" name="email" value="" placeholder="your email address">

                                    <textarea class="span8" id="message" name="message" rows="7" cols="25" placeholder="message"></textarea>

                                    <input id="submit" type="submit" name="submit" value="Send!">

                                </fieldset>
                            </form>

                        </div><!-- end .span8 -->
                    </div><!-- end .row -->

                </div><!-- end .parallax-content-inner -->

            </div><!-- end .parallax-content -->

            <div id="footer">

                <!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////// -->

                <div class="row">
                    <div class="span12">

                        <p class="text-center last">Copyright &copy; @DateTime.Now.Year Daniel Melo</p>

                    </div><!-- end .span12 -->
                </div><!-- end .row -->
                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            </div><!-- end #footer -->

        </div><!-- end #contact -->
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    </div><!-- end #content -->

</div><!-- end #wrap -->

<a id="back-to-top" href="#">
    <i class="ifc-up4"></i>
</a>
